a {
  text-decoration: none;
  color: black;
}

input {
  border: 1px solid black;
  border-radius: 2px;
  margin: 5px;
  width: 215px;
}

textarea {
  margin-top: 10px;
  overflow: auto;
  resize: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
  width: 60vw;
}

small {
  font-size: 15px;
}

.logo {
  z-index: 99;
}

.index {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feed {
  border-top: 1px solid lightgrey;
  max-width: 100vw;
  padding: 10px;
}

.post-img {
  max-width: 100%;
  max-height: 80vh;
}

.likes {
  margin-left: 20px;
}

.create-post {
  align-self: center;
  background-color: black;
  border-radius: 6px;
  width: 77px;
  height: 27px;
  padding: 2px;
}
.create-post a {
  color: white;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  background-color: white;
  top: 0;
  height: 10vh;
  width: 100%;
  z-index: 2;
  padding: 0 5px;
}

.burger-icon {
  align-self: center;
  display: block;
  height: auto;
  right: 0;
  z-index: 4;
  padding: 15px 10px;
  cursor: pointer;
}

.bar-one,
.bar-two,
.bar-three {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.6s;
  border-radius: 10px;
}

.transform .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.transform .bar-two {
  opacity: 0;
}

.transform .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: 0.5s;
}

.mobile-menu-items div {
  margin: 100px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.toggle {
  transform: none;
}

.profile-img {
  max-width: 100px;
  border-radius: 100%;
}

.toggle {
  transform: none;
}

.new-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new-post {
  display: flex;
  justify-content: center;
  align-self: center;
}

.new-post-btn {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 2px;
}

.profile-container {
  margin-top: 100px;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.update-user-btn {
  border-radius: 2px;
  background-color: black;
  width: 90px;
  padding: 2px;
}
.update-user-btn a {
  color: white;
}
.user-posts {
  display: inline-block;
  margin: 0 10px;
  max-width: 115px;
  height: 148px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.register-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-form {
  margin-top: 10px;
}

.button {
  margin-top: 10px;
  color: white;
  background-color: black;
  border-radius: 2px;
}

.button:active {
  transform: scale(0.9);
}

.user-info {
  margin-left: 10px;
}

.change-password {
  margin-left: 10px;
}

.post {
  display: flex;
  flex-direction: column;
}

.update-user-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-post-btn {
  align-self: center;
  background-color: black;
  border-radius: 6px;
  width: 77px;
  height: 27px;
  padding: 2px;
}

.update-post-btn a {
  color: white;
}

.register-btn {
  padding: 2px 8px;
  border-radius: 2px;
  background-color: black;
}

.register-btn:active {
  transform: scale(0.9);
}

.register-btn a {
  color: white;
}

.login-btn {
  padding: 2px 8px;
  border-radius: 2px;
  background-color: black;
}

.login-btn a {
  color: white;
}

.login-btn:active {
  transform: scale(0.9);
}
